html, body {
    height: 100%;
    width: 100%;
    font-family: "Tahoma", sans-serif;
    color: #222;
}


.navbar-brand img {
    width: 20%;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}
.navbar-link {
    font-size: 1.1em !important;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.padding {
    padding-bottom: 2rem;
}
.GoogleMaps {
    margin-top: 50px;
}
.images img {
    max-width: 300px;
    transition: 1s;
    padding: 20px 20px 20px 20px;
}
.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (orientation: portrait) {
    video {
        width: 50%;
        height: 50%;
    }
}
.images img:hover {
    filter: grayscale(50%);
    transform: scale(1.1);
}
footer {
    background-color: #4e555b;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}